<post-new-window ></post-new-window>
<button ng-click="load()" ng-hide="categories.length" class="btn btn-primary">Load</button>
<button ng-click="export()" ng-show="categories.length" class="btn btn-primary btn-lg" style="float: right;">
	<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
</button>
<div ng-repeat="product in categories">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>
				<a href="{{product.url}}" target="blank">{{product.name}}</a>
			</h4>
		</div>
		<div class="panel-body">
			<div>Quotes: {{product.quotationCount}}</div>
			<div>Price: {{product.fobPriceUnit}} {{product.minPrice}} - {{product.maxPrice}} </div>
			<div>Buyers: {{product.buyerCount}}</div>
			<a href="{{product.url}}" target="blank">
				<img ng-repeat="img in product.images"  src="https:{{img.url}}" height="100px"></img>
			</a>
		</div>
</div>

<span class="glyphicon glyphicon-refresh spinning" ng-show="!categories.length"></span>
