<post-new-window ></post-new-window>
<button ng-click="load()" ng-hide="categories.length" class="btn btn-primary">Load</button>
<button ng-click="export()" ng-show="categories.length" class="btn btn-primary btn-lg" style="float: right;">
	<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
</button>
<div ng-repeat="category in categories">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>
				<a href="{{category.url}}" target="blank">{{category.name}}</a>
			</h2>
		</div>
		<div class="panel-body">
			<div ng-repeat="product in category.products">
				<h4>
					<a href="{{product.url}}" target="blank">{{product.title}}</a>
				</h4>
				<div>Rate: {{product.rate}}</div>
				<div>Price: {{product.price}}</div>
				<div ng-show="product.sellers_url">Sellers: <a href="{{product.sellers_url}}" target="blank">{{product.sellers}}</a></div>
			</div>
		</div>
</div>

<span class="glyphicon glyphicon-refresh spinning" ng-show="!categories.length"></span>
