<div ng-repeat="startup in startups">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>{{startup.name}}</h2
>			<a href="{{startup.website}}" target="blank">{{startup.website}}</a>
			<h4>{{startup.amount}}</h4>
			<h4>{{startup.stage}}</h4>
		</div>
		<div class="panel-body">
			{{startup.description}};
			<div ng-repeat="founder in startup.users">
				<h5><b>{{founder.name}}</b></h5>
				<small>{{founder.title}}</small>
			</div>
		</div>
		<div class="panel-footer">
			<div>
				<a href="{{startup.twitter}}" ng-show="startup.twitter" target="blank">@twitter</a>
				<a href="{{startup.facebook}}" ng-show="startup.facebook" target="blank">@facebook</a>
				<a href="{{startup.linkedin}}" ng-show="startup.linkedin" target="blank">@linkedin</a>
			</div>
			<div ng-repeat="industry in startup.tag" class="btn btn-default btn-sm">{{industry}} x</div>
		</div>
	</div>
</div>

<span class="glyphicon glyphicon-refresh spinning" ng-show="!startups.length"></span>
