<div class="panel-group" id="accordion">
	<div ng-repeat="plugin in plugins" class="panel panel-default">
		<div class="panel-heading">
			<h4>
				<a ui-sref="{{plugin.path}}">{{plugin.title}}</a>
				<a href="{{plugin.source}}" class="pull-right" target="blank">
					<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
				</a>
			</h4>
		</div>
		<div id="collapse2" class="panel-collapse collapse in">
			<div class="panel-body">
				{{plugin.description}}
			</div>
		</div>
</div>
