<post-new-window ></post-new-window>
<button ng-click="load()" ng-hide="regions.length" class="btn btn-primary">Load
	<span class="glyphicon glyphicon-refresh spinning" ng-show="inProgress"></span>
</button>
<button ng-click="export()" ng-show="regions.length" class="btn btn-primary btn-lg" style="float: right;">
	<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
</button>
<div ng-repeat="region in regions">
	{{region.name}},{{region.city}},{{region.area}}
</div>
