<form name="form" ng-submit="search(url)">
	<fieldset class="form-group" ng-class="{'has-error' : form.url.$invalid}">
		<input type="text" name="url" class="form-control" placeholder="http://google.com" required ng-model="url" />
	</fieldset>
	<button type="submit" class="btn btn-primary">
		Start
		<span class="glyphicon glyphicon-refresh spinning" ng-show="inProgress"></span>
	</button>
</form>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>text</th>
			<th>link</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in items">
			<td>{{$index+1}}</td>
			<td><a href="{{item.link}}" target="_blank">{{item.text}}</a></td>
			<td>{{item.link}}</td>
		</tr>
	</tbody>
</table>

