<div ng-repeat="item in items">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>
				<a href="{{item.url}}" target="blank">{{item.title}}</a>
			</h4>
		</div>
		<div class="panel-body">
			<div><img src="{{item.img}}"/></div>
			<div>Price: {{item.price}}</div>
		</div>
	</div>
</div>

<span class="glyphicon glyphicon-refresh spinning" ng-show="!items.length"></span>
