<post-new-window ></post-new-window>
<button ng-click="export()" ng-show="items.length" class="btn btn-primary btn-lg" style="float: right;">
	<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
</button>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>name</th>
			<th>email</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in items">
			<td>{{$index+1}}</td>
			<td>{{item.name}}</td>
			<td>{{item.email}}</td>
		</tr>
	</tbody>
</table>

