<post-new-window ></post-new-window>
<button ng-click="load()" ng-hide="cities.length" class="btn btn-primary">Load
	<span class="glyphicon glyphicon-refresh spinning" ng-show="inProgress"></span>
</button>
<button ng-click="export()" ng-show="cities.length" class="btn btn-primary btn-lg" style="float: right;">
	<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
</button>
<div ng-repeat="city in cities">
	{{city.name}},{{city.town}},{{city.urb}}
</div>

