<div class="row">
	<div class="col-xs-12 col-md-12">
		<ul class="nav nav-pills">
		  <li role="presentation"><a href="/app/residentadvisor/13">London</a></li>
		  <li role="presentation"><a href="/app/residentadvisor/44">Paris</a></li>
		  <li role="presentation"><a href="/app/residentadvisor/34">Berlin</a></li>
		</ul>
	</div>
</div>
<div ng-repeat="event in events">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="{{event.url}}" target="blank"><h3 class="panel-title">{{event.title}}</h3></a>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12 col-md-3">
					<a href="{{event.url}}" class="thumbnail" ng-if="event.img" target="blank">
						<img src="{{event.img}}" alt="">
					</a>
				</div>
				<div class="col-xs-12 col-md-9">
					<h3>{{event.date}} {{event.time}}</h3>
					<h4>{{event.address}}</h4>
					<div>{{event.description}}</div>
				</div>
			</div>			
		</div>
	</div>
	
</div>

<span class="glyphicon glyphicon-refresh spinning" ng-show="inProgress"></span>
