<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>email</th>
			<th>site</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in items">
			<td>{{$index+1}}</td>
			<td>{{item.email}}</td>
			<td>{{item.site}}</td>
		</tr>
	</tbody>
</table>

<span class="glyphicon glyphicon-refresh spinning" ng-show="!items.length"></span>
